{% extends 'base.html' %}

{% block content %}
<h1>{{pet.name}}</h1>
  <div class="w-auto p-3">
    {% if pet.photo_url != "" %}
    <img class="w-25" src="{{pet.photo_url}}" alt="cute pet">
    {% endif %}
    <ul>
      <li>Age: {{pet.age}}</li>
      <li>Species: {{pet.species}}</li>
    </ul>
  </div>

  <form id="edit-pet-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button type="submit">Submit</button>
</form>

{% endblock %}